<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
	<link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" >
	<title>登録情報変更画面</title>
</head>
<body>
	<div class="header" th:include="/commonParts.html::header"></div>

	<!-- 作業用リンク -->
	<nav>
			<div class="nav-container">
				<h1>画面確認用バー</h1>
				<div class="now-page">現在のページは「登録情報画面」です。</div>
				<ul class="navbar">
					<li><a href="./adminTop.html">adminTop</a></li>
					<li><a href="./alteration.html">alteration</a></li>
					<li><a href="./commonParts.html">commonParts</a></li>
					<li><a href="./login.html">login</a></li>
					<li><a href="./generalTop.html">generalTop</a></li>
					<li><a href="./registration.html">registration</a></li>
					<li><a href="./lending.html">lending</a></li>
				</ul>
				<p>※作業用のナビバーなので、リリース時には消されます。</p>
			</div>
		</nav>

	<div class="main">
		<p th:if="${isSubmit}" style="background-color:#FF4F50">[[${submitMessage}]]</p>
		<h2>登録情報画面</h2>
		<div class="form-wrapper">
		<form method="post" action="/alterate" th:object="${bookInfomationForm}"
				onsubmit="return submitCheck(message)">
			<table class="form-table">
				<caption>登録情報変更フォーム</caption>
				<tr>
					<th><label for="book-name">名称</label></th>
					<td th:remove="all">
						<input type="text" name="name" value="Javaの本" maxlength="100" id="book-name" required>
					</td>
				</tr>
				<tr>
					<th><label for="write-name">著者</label></th>
					<td th:remove="all">
						<input type="text" name="writer" value="新宿　太郎" maxlength="30" id="write-name" required>
					</td>
				</tr>
				<tr>
					<th><label for="hatubainei">出版年</label></th>
					<td th:remove="all">
						<input type="text" name="publishingYear" value="2018" maxlength="4" id="hatubainei" required>
					</td>
				</tr>
				<tr>
					<th><label for="shuppansya">出版社</label></th>
					<td th:remove="all">
						<input type="text" name="publishingHouse" value="ほげほげ社" maxlength="30" id="shuppansya" required>
					</td>
				</tr>
				<tr>
					<th><label for="books-total">冊数</label></th>
					<td th:remove="all">
						<input type="number" name="total" min="1" max="99" id="books-total" value="1" required>
					</td>
				</tr>
				<tr>
					<th><label for="free-comment">コメント</label></th>
					<td th:remove="all">
						<textarea name="comment" id="" cols="25" rows="5" >Java初心者向けの本です。新人研修レベルの内容が網羅されています。</textarea>
					</td>
				</tr>
			</table>

			<div class="form-btn-wrapper">
				<input type="submit" name="update" value="変更" onclick="message='書籍情報を変更します。よろしいですか。'" class="change-btn">
				<input type="submit" name="delete" value="削除" onclick="message='書籍情報を削除します。よろしいですか。'" class="delete-btn">
			</div>
		</form>
		</div>
	</div>

	<div class="page-back-wrapper" th:include="/commonParts.html::page-back"></div>
	<div class="footer" th:include="/commonParts.html::footer"></div>

	<script src="../static/js/sample.js"></script>
</body>
</html>


