<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
	<title>commonParts</title>
</head>
<body>
	<!-- 作業用リンク -->
	<nav>
			<div class="nav-container">
				<h1>画面確認用バー</h1>
				<div class="now-page">現在のページは「共通部品」です。</div>
				<ul class="navbar">
					<li><a href="./adminTop.html">adminTop</a></li>
					<li><a href="./alteration.html">alteration</a></li>
					<li><a href="./commonParts.html">commonParts</a></li>
					<li><a href="./login.html">login</a></li>
					<li><a href="./generalTop.html">generalTop</a></li>
					<li><a href="./registration.html">registration</a></li>
					<li><a href="./lending.html">lending</a></li>
				</ul>
				<p>※作業用のナビバーなので、リリース時には消されます。</p>
			</div>
		</nav>

	<!-- ヘッダー(ログイン画面) -->
	<div class="header" th:fragment="header-login">
		<h1><span class="header-text">TCS</span>書籍管理システム</h1>
	</div>

	<br><br>

	<!-- ヘッダー(ログイン画面以外) -->
	<div class="header header-login" th:fragment="header">
		<h1><span class="header-text">TCS</span>書籍管理システム</h1>
		<div class="logout-wrapper">
			<button class="logout-btn">ログアウト</button>
		</div>
	</div>

	<!-- 戻るボタン -->
	<!-- (メインコンテンツとフッダーの間にいる想定) -->
	<div class="page-back-wrapper" th:fragment="page-back">
		<button class="page-back-btn" id="back">戻る</button>
	</div>

	<!-- フッダー -->
	<!-- ログイン画面以外はメインコンテンツとの間に戻るボタンを挟むので、マージン取らなくて良い -->
	<div class="footer" th:fragment="footer">
		<p class="footer-copyright">Copyright  TCS CO.,LTD. All rights reserved.</p>
	</div>
</body>
</html>