<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
	<link href="../static/css/generalTop.css" th:href="@{/css/generalTop.css}" rel="stylesheet" >
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<!--/* Ajax */-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(function() {
			/* 検索ボタン押下時に動く関数 */
			$("#search_btn").click(function() {
				/* 一旦テーブルをクリア */
				$("#lending_book_list").text("");
				/* Ajax通信 */
				$.ajax({
					type	: "GET",
					url		: "gtop/serch",
					data	: { keyword : $("#keyword").val() },
					dataType: "json",
					success	: function(data) {
						createBookList(data);
					},
					error	: function(XMLHttpRequest, textStatus, errorThrown) {
						error(XMLHttpRequest, textStatus, errorThrown);
					}
				});
			});
		});

		/*****************************************
		 * 引数のJSONから書籍一覧を作成
		 *****************************************/
		function createBookList(data) {
			/* ◆項目名はEntityのフィールド名になるっぽい */
			for(var i = 0; i < data.length; i++){
				/* <tr id="book_0"></tr>  を追加 */
				$("#lending_book_list").append("<tr id=\"book_" + i + "\"></tr>");
				/* 追加した<tr>タグ内に <td>タグ を設定。th:～は使わず素のHTMLで */
				$("#lending_book_list #book_" + i)
						.append("<td class=\"scrollname\">" +
								"<a href=\"/gtop/lending?id=" + data[i].id + "\">" + data[i].name + "</a></td>");
				$("#lending_book_list #book_" + i)
						.append("<td class=\"scrollwriter\">" + data[i].writer + "</td>");
				$("#lending_book_list #book_" + i)
						.append("<td class=\"scrollpubyear\">" + data[i].publishingYear + "</td>");
				$("#lending_book_list #book_" + i)
						.append("<td class=\"scrollpubhouse\">" + data[i].publishingHouse + "</td>");
				$("#lending_book_list #book_" + i)
						.append("<td class=\"scrolltotal\">" + data[i].remainingCount + "</td>");
			}
		}

		/*****************************************
		 * 引数のJSONから申請状況一覧を作成
		 *****************************************/
		 function createList(){

		}

		/*****************************************
		 * Ajax通信失敗時処理
		 * とりあえずアラートしとく
		 *****************************************/
		function error(XMLHttpRequest, textStatus, errorThrown) {
			alert("【error】" + XMLHttpRequest.responseText + "\n" +
					"【status】" + textStatus.status + "\n" +
					"【errorThrown】" + errorThrown);
		}

		/*****************************************
		 * 画面初期表示用
		 * 引数のJSON形式文字列をJSONオブジェクトに変換し、
		 * 各HTML作成関数を呼び出す
		 *****************************************/
		function init(initJsonStr){
			var initJson = JSON.parse(initJsonStr);
			var bookListJson = initJson.bookList;
			var statusListJson = initJson.statusList;
			createBookList(bookListJson);
		}
	</script>
	<title>一般トップ画面</title>
</head>
<body th:attr="onload='init(\'' + ${initJson} + '\');'">
	<div class="header" th:include="/commonParts.html::header"></div>

	<div class="main">
			<nav>
					<div class="nav-container">
						<h1>画面確認用バー</h1>
						<div class="now-page">現在のページは「一般TOP画面」です。</div>
						<ul class="navbar">
							<li><a href="./adminTop.html">adminTop</a></li>
							<li><a href="./alteration.html">alteration</a></li>
							<li><a href="./commonParts.html">commonParts</a></li>
							<li><a href="./login.html">login</a></li>
							<li><a href="./generalTop.html">generalTop</a></li>
							<li><a href="./registration.html">registration</a></li>
							<li><a href="./lending.html">lending</a></li>
						</ul>
						<p>※作業用のナビバーなので、リリース時には消されます。</p>
					</div>
				</nav>

		<p th:if="${lendSubmit}" style="background-color:#FF4F50">貸出が完了しました</p>
		<h2>貸出</h2>
		<div class="form-wrapper">
			<form action="/search" method="get">
				<input type="search" id="keyword" placeholder="本の名称">
				<input type="submit" id="search_btn" value="検索">
			</form>
		</div>

		<table class="scrolltable">
			<thead>
				<tr>
					<th class="scrollname">名称</th>
					<th class="scrollwriter">著者</th>
					<th class="scrollpubyear">出版年</th>
					<th class="scrollpubhouse">出版社</th>
					<th class="scrolltotal">冊数</th>
					<th class="scrollbar"></th>
				</tr>
			</thead>
			<tbody id="lending_book_list">
					<tr>
						<td class="scrollname">基本情報技術者試験の教科書</td>
						<td class="scrollwriter">新宿　太郎</td>
						<td class="scrollpubyear">2018</td>
						<td class="scrollpubhouse">ほげほげ社</td>
						<td class="scrolltotal">99</td>
					</tr>
					<tr>
							<td class="scrollname">スクロールバーのthをdivにすれば</td>
							<td class="scrollwriter">右の余白調整できそう</td>
							<td class="scrollpubyear">やる</td>
							<td class="scrollpubhouse">時間がいつとれる</td>
							<td class="scrolltotal">か？</td>
						</tr>
						<tr>
								<td class="scrollname">それか列幅を再調整</td>
								<td class="scrollwriter"></td>
								<td class="scrollpubyear"></td>
								<td class="scrollpubhouse"></td>
								<td class="scrolltotal"></td>
							</tr>
			</tbody>
		</table>



		<h2>申請状況一覧</h2>
		<div class="apl-list-table-wrapper">
		<table class="apl-list-table">
			<thead class="apl-table-thead">
				<tr class="apl-table-tr">
					<th class="apl-th-book-name">名称</th>
					<th class="apl-th-writer-name">著者</th>
					<th class="apl-th-publi-year">出版年</th>
					<th class="apl-th-publisher">出版社</th>
					<th class="apl-th-book-status">ステータス</th>
				</tr>
			</thead>

			<tbody id="" class="apl-table-tbody">
				<tr class="apl-table-tr">
					<td class="apl-td-book-name">基本情報技術者試験の教科書</td>
					<td class="apl-td-writer-name">稲田　史郎</td>
					<td class="apl-td-publi-year">2018</td>
					<td class="apl-td-publisher">ぺふ社</td>
					<td class="apl-td-book-status">
						<select class="apl-td-select">
							<option value="1">申請取消</option>
							<option value="2">申請中</option>
							<option value="3">承認済</option>
							<option value="4">持出中</option>
							<option value="5">返却中</option>
						</select>
					</td>
				</tr>
				<tr class="apl-table-tr">
						<td class="apl-td-book-name">なれる！SE 1</td>
						<td class="apl-td-writer-name">夏海　公司</td>
						<td class="apl-td-publi-year">2010</td>
						<td class="apl-td-publisher">電撃文庫</td>
						<td class="apl-td-book-status">
							<select class="apl-td-select">
								<option value="4">持出中</option>
							</select>
						</td>
					</tr>
			</tbody>
		</table>
		</div>
	</div>

	<div class="page-back-wrapper" th:include="/commonParts.html::page-back"></div>
	<div class="footer" th:include="/commonParts.html::footer"></div>
</body>
</html>


