<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
	<link href="../static/css/lending.css" th:href="@{/css/lending.css}" rel="stylesheet" >
	<script>
		function init(bookdetail){
			alert(bookdetail);
		}
	</script>
	<title>貸出詳細画面</title>
</head>
<body onload="init(${bookdetail})">

	<div class="header" th:include="/commonParts.html::header"></div>

	<!-- 作業用リンク -->
	<nav>
		<div class="nav-container">
			<h1>画面確認用バー</h1>
			<div class="now-page">現在のページは「貸出詳細画面」です。</div>
			<ul class="navbar">
				<li><a href="./adminTop.html">adminTop</a></li>
				<li><a href="./alteration.html">alteration</a></li>
				<li><a href="./commonParts.html">commonParts</a></li>
				<li><a href="./login.html">login</a></li>
				<li><a href="./generalTop.html">generalTop</a></li>
				<li><a href="./registration.html">registration</a></li>
				<li><a href="./lending.html">lending</a></li>
			</ul>
			<p>※作業用のナビバーなので、リリース時には消されます。</p>
		</div>
	</nav>

	<div class="main">
		<p th:if="${outOfStock}" style="background-color:#FF4F50">在庫無しのため貸出できません</p>
		<h2>貸出詳細</h2>
		<div class="lending-wrapper">
			<table>
				<caption>書籍貸出詳細情報</caption>
				<tr>
					<th>名称</th>
					<td th:remove="all">Javaの本</td>
				</tr>
				<tr>
					<th>著者</th>
					<td th:remove="all">新宿　太郎</td>
				</tr>
				<tr>
					<th>出版年</th>
					<td th:remove="all">2018</td>
				</tr>
				<tr>
					<th>出版社</th>
					<td th:remove="all">ほげほげ社</td>
				</tr>
				<tr>
					<th>コメント</th>
					<td th:remove="all">Java初心者向けの本です。新人研修レベルの内容が網羅されています。あああああああああああああああああああああああああああああああああ</td>
				</tr>
				<tr>
					<th>冊数</th>
					<td th:remove="all">2</td>
				</tr>
					<tr>
					<th>貸出情報</th>
					<td th:remove="all">社員番号111</td>
				</tr>
			</table>
		</div>
		<div class="lending-button-container">
			<!-- 在庫なしの場合はボタン非表示 -->
			<form th:if="${!outOfStock}" method="post" action="/lend"
					onsubmit="return submitCheck('貸出申請をします。よろしいですか')">
				<input type="submit" name="submit" value="貸出申請" class="lending-button">
			</form>
		</div>
	</div>

	<div class="page-back-wrapper" th:include="/commonParts.html::page-back"></div>
	<div class="footer" th:include="/commonParts.html::footer"></div>

	<script src="../static/js/sample.js"></script>
</body>
</html>


