<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
	<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" >
	<title>TCS書籍管理システム</title>
</head>

<body>
	<div class="header" th:include="/commonParts.html::header-login"></div>

	<nav>
		<div class="nav-container">
			<h1>画面確認用バー</h1>
			<div class="now-page">現在のページは「ログイン画面」です。</div>
			<ul class="navbar">
				<li><a href="./adminTop.html">adminTop</a></li>
				<li><a href="./alteration.html">alteration</a></li>
				<li><a href="./commonParts.html">commonParts</a></li>
				<li><a href="./login.html">login</a></li>
				<li><a href="./generalTop.html">generalTop</a></li>
				<li><a href="./registration.html">registration</a></li>
				<li><a href="./lending.html">lending</a></li>
			</ul>
			<p>※作業用のナビバーなので、リリース時には消されます。</p>
		</div>
	</nav>

	<div class="main-wrapper">
		<div class="main">
			<h2>書籍管理システム</h2>
			<div class="login-box">
				<form method="post" action="./login.html" th:object="${loginForm}">
					<input type="text" name="userName" placeholder="社員番号">
					<input type="password" name="password" placeholder="パスワード">
					<div class="login-btn"><button>ログイン</button></div>
				</form>
			</div>
		</div>
	</div>

	<div class="footer" th:include="/commonParts.html::footer"></div>

	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
</body>
</html>
