<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
	<link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" >
	<title>新規登録画面</title>
</head>
<body>
	<div class="header" th:include="/commonParts.html::header"></div>

	<!-- 作業用リンク -->
	<nav>
			<div class="nav-container">
				<h1>画面確認用バー</h1>
				<div class="now-page">現在のページは「新規登録画面」です。</div>
				<ul class="navbar">
					<li><a href="./adminTop.html">adminTop</a></li>
					<li><a href="./alteration.html">alteration</a></li>
					<li><a href="./commonParts.html">commonParts</a></li>
					<li><a href="./login.html">login</a></li>
					<li><a href="./generalTop.html">generalTop</a></li>
					<li><a href="./registration.html">registration</a></li>
					<li><a href="./lending.html">lending</a></li>
				</ul>
				<p>※作業用のナビバーなので、リリース時には消されます。</p>
			</div>
		</nav>

	<div class="main">
		<p th:if="${isSubmit}" style="background-color:#FF4F50">[[${submitMessage}]]</p>
		<h2>新規登録画面</h2>
		<div class="form-wrapper">
			<form method="post" action="/register" th:object="${bookInfomationForm}"
					onsubmit="return submitCheck('新規登録します。よろしいですか')">
				<table class="form-table">
					<caption>登録情報入力フォーム</caption>
					<tr>
						<th><label for="book-name">名称</label></th>
						<td><input type="text" name="name" id="book-name" maxlength="100" required></td>
					</tr>
					<tr>
						<th><label for="write-name">著者</label></th>
						<td><input type="text" name="writer" id="write-name" maxlength="30" required></td>
					</tr>
					<tr>
						<th><label for="hatubainei">出版年</label></th>
						<td><input type="text" name="publishingYear" id="hatubainei" maxlength="4" required></td>
					</tr>
					<tr>
						<th><label for="shuppansya">出版社</label></th>
						<td><input type="text" name="publishingHouse" id="shuppansya" maxlength="30" required></td>
					</tr>
					<tr>
						<th><label for="books-total">冊数</label></th>
						<td><input type="number" name="total" min="1" max="99" id="books-total" required></td>
					</tr>
					<tr>
						<th><label for="free-comment">コメント</label></th>
						<td><textarea name="comment" id="free-comment" cols="25" rows="5" maxlength="200"></textarea></td>
					</tr>
				</table>
				<div class="form-btn-wrapper">
					<input type="submit" name="submit" value="新規登録" class="registr-btn">
				</div>
			</form>
		</div>
	</div>

	<div class="page-back-wrapper" th:include="/commonParts.html::page-back"></div>
	<div class="footer" th:include="/commonParts.html::footer"></div>

	<script src="../static/js/sample.js"></script>
</body>
</html>


