/*
 ******************************
   tableの設定	一覧表示
 ******************************
 */
table {
	table-layout:fixed;
	width:1000px;
	border:2px solid #666666;
}

th {
	border:5px solid #10025f;
	background-color:#87cefa;
}

td {
	border:5px solid #807f7f;
}

td.center {
	text-align:center;
}

/*
 ******************************
   tableの設定	単独表示
 ******************************
 */
table.uniquetable {
	table-layout:fixed;
	width:500px;
	border:1px solid #666666;
}

.uniquetable th {
	border:1px solid #666666;
	background-color:#87cefa;
	width:100px;
}

/*
 ******************************
   スクロール用テーブルの設定
 ******************************
 */
table.scrolltable {
	table-layout:fixed;
	width:1014px;		/* ←14pxはスクロールバーの分 */
	border:1px solid #666666;
}

.scrolltable thead {
	display:block;
}

.scrolltable tbody {
	display:block;
	overflow-y:scroll;
	height:150px;
}

th.scrollname, td.scrollname {
	width:450px;
}

th.scrollwriter, td.scrollwriter {
	width:160px;
}

th.scrollpubyear, td.scrollpubyear {
	width:80px;
}

th.scrollpubhouse, td.scrollpubhouse {
	width:130px;
}

th.scrolltotal, td.scrolltotal {
	width:80px;
}

th.scrollstatus, td.scrollstatus {
	width:100px;
}

th.scrollbar {
	width:14px;
}

/*
 ******************************
   ボタンの設定
 ******************************
 */
 input.updbuttun{
	color:#130d0d; background-color:#4abedb; border-radius:25px; box-shadow:2px 2px #555;
	font-size: 1.1em; padding: 7px 20px; border-style: none; outline:none; font-weight:bold;

}

.updbuttun:hover {
	background-color: #0e98d8;
	color: #130d0d;

}

input.delbuttun{
	color:#130d0d; background-color:#4abedb; border-radius:25px; box-shadow:2px 2px #555;
	font-size: 1.1em; padding: 7px 20px; border-style: none; outline:none; font-weight:bold;

}

.delbuttun:hover {
	background-color: #0e98d8;
	color: #130d0d;

}