/*
 ******************************
   tableの設定	一覧表示
 ******************************
 */
table {
	table-layout:fixed;
	width:1000px;
	border:1px solid #666666;
}

th {
	border:1px solid #666666;
	background-color:#87cefa;
}

td {
	border:1px solid #666666;
}

td.center {
	text-align:center;
}

/*
 ******************************
   tableの設定	単独表示
 ******************************
 */
table.uniquetable {
	table-layout:fixed;
	width:500px;
	border:1px solid #666666;
}

.uniquetable th {
	border:1px solid #666666;
	background-color:#87cefa;
	width:100px;
}

/*
 ******************************
   スクロール用テーブルの設定
 ******************************
 */
table.scrolltable {
	table-layout:fixed;
	width:1014px;		/* ←14pxはスクロールバーの分 */
	border:1px solid #666666;
}

.scrolltable thead {
	display:block;
}

.scrolltable tbody {
	display:block;
	overflow-y:scroll;
	height:150px;
}

th.scrollname, td.scrollname {
	width:450px;
}

th.scrollwriter, td.scrollwriter {
	width:160px;
}

th.scrollpubyear, td.scrollpubyear {
	width:80px;
}

th.scrollpubhouse, td.scrollpubhouse {
	width:130px;
}

th.scrolltotal, td.scrolltotal {
	width:80px;
}

th.scrollstatus, td.scrollstatus {
	width:100px;
}

th.scrollbar {
	width:14px;
}