@charset "utf-8";

.table1-wrapper table {
    max-width:400px;
    border-collapse: collapse;
    border:1px solid #666666;
    margin: 1rem auto;
}
@media only screen and (min-width: 768px) {
    .table1-wrapper table {
        max-width: 800px;
    }
}
.table1-wrapper th {
    padding: 5px;
    border: 1px solid #666666;
    white-space: nowrap;
}
.table1-wrapper td {
    padding: 5px;
    border: 1px solid #666666;
    word-wrap: break-word;
}
.table1 input, .table1 option {
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 100%;
    padding: 5px;
}

.form-wrapper1 {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}
.form-wrapper1 input[type="submit"] {
    border: none;
    border-radius: 3px;
    font-size:1rem;
    color: #FFF;
    padding: 0.3rem 0.5rem;
    background-color: #aaa8a7;
    border-bottom: 3px solid #9b9998;
}
.form-wrapper1 input[type="submit"]:active {
	border: none;
    border-top: 3px solid #af9057;
}
.form-wrapper1 input[type="submit"]:hover {
    opacity: 0.8;
}

.form-wrapper2 {
    max-width:400px;
    margin: 0 auto;
    text-align: right;
}
@media only screen and (min-width: 768px) {
    .form-wrapper2 {
        max-width: 814px;
    }
}
.form-wrapper2 input[type="submit"] {
    margin-right: 10px;
}

table.scrolltable {
    max-width:400px;

    border-collapse: collapse;
    border:1px solid #666666;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    table.scrolltable{
        max-width: 814px;  /* ←14pxはスクロールバーの分 */
    }
}
.scrolltable thead {
    display:block;
    margin: 10px 10px 0 10px;
}
.scrolltable tbody {
    display:block;
    margin: 0 10px 10px 10px;
    overflow-y: scroll;
	max-height:300px;
}
@media only screen and (min-width:768px) {
    .scrolltable tbody {
        max-height: 400px;
    }
}

.scrolltable tbody tr:nth-child(even) {
    background-color: #d6edf7;
}

.scrolltable th {
    border: 1px solid #666666;
    white-space: nowrap;
}
.scrolltable td {
    border: 1px solid #666666;
    word-wrap: break-word;
}

th.scrollname, td.scrollname {
    min-width: 100px;
    max-width: 100px;
}
th.scrollwriter, td.scrollwriter {
    min-width: 80px;
    max-width: 80px;
}
th.scrollpubyear, td.scrollpubyear {
    min-width: 50px;
    max-width: 50px;
}
th.scrollpubhouse, td.scrollpubhouse {
    min-width: 65px;
    max-width: 65px;
}
th.scrolltotal, td.scrolltotal {
    min-width: 40px;
    max-width: 40px;
}
th.scrollstatus, td.scrollstatus {
    min-width: 40px;
    max-width: 40px;
}

@media only screen and (min-width: 768px){
    th.scrollname, td.scrollname {
        min-width: 300px;
        max-width: 300px;
    }
    th.scrollwriter, td.scrollwriter {
        min-width: 200px;
        max-width: 200px;
    }
    th.scrollpubhouse, td.scrollpubhouse {
        min-width: 130px;
        max-width: 130px;
    }
}

th.scrollbar, td.scrollbar {
    display: none;
}
@media only screen and (min-width: 768px){
    th.scrollbar {
        border: none;
    }
    td.scrollbar {
        margin-left: 30px;
    }
}