@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
	background: #efefef;
}
.main h2 {
	margin: 10px 0;
	text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.header{
	background: #113C8F;
	color: #fff;
}
.header h1 {
	font-size:120%;
	font-weight: normal;
	padding: 5px;
}
.header-text {
	font-size: 130%;
	font-weight: bold;
}
.header-text::after{
	padding: 0 0.5rem 0;
	content: "-";
}
.header-login {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.footer {
	background: #6e6d6d;
	padding: 0.2rem 0;
	font-size: 0.8rem;
	color: #fff;
}
.footer-copyright {
    text-align: center;
}

/* ボタン共通 */
.logout-btn, .page-back-btn {
	border: none;
	color: #fff;
	padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-size:1rem;
    background-color: #ddbf88;
	border-bottom: 3px solid #af9057;
}
.logout-btn:hover, .page-back-btn:hover {
	opacity: 0.8;
}
.logout-btn:active, .page-back-btn:active {
	border: none;
    border-top: 3px solid #af9057;
}


.logout-wrapper {
	margin:  auto 1rem auto 0;
}
.page-back-wrapper {
	text-align: right;
	margin: 1rem;
}






/* 作業用リンクの見た目 */
nav {
	width: 100%;
	background-color: #b4afaf;
}
nav h1, .now-page {
	color: #575352;
	padding: 0 0 0 1rem;
}
.navbar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.navbar li {
	display: inline;
}
.navbar li::before {
	content: "・";
}
