@charset "utf-8";

.form-table {
    width: 300px;
    background-color: #fff;
    border:1px solid #666666;
    margin: 0 auto;
    border-radius: 3px;
}
@media only screen and (min-width:768px) {
    .form-table {
        width: 500px;
    }
}
.form-table th {
	font-size: 100%;
	border-style: none;
	border-radius: 3px;
	white-space: nowrap;
	letter-spacing: 1px;
    text-align: right;
}
.form-table td {
    border-style: none;
    padding: 10px 10px 10px 0;
}





/* 登録・変更・削除共通 */
.form-table input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 3px;
    font-size: 100%;
}
.form-table input[type="number"] {
    width: 40px;
}
.form-table textarea {
    width: 100%;
    font-size: 100%;
}
.form-table input:focus, .form-table textarea:focus{
    box-shadow: 0px 5px 10px 0px #c9b8b8;
    background-color: #FFF0F0;
    border:solid 1px #7f5d38;
}
.form-table input:hover, .form-table textarea:hover{
    border:solid 2px #aaa8a7;
}
.form-wrapper {
    padding: 10px;
}
.form-btn-wrapper {
    width: 300px;
    margin: 1rem auto;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .form-btn-wrapper {
        width: 500px;
    }
}

/* 新規登録ボタン */
.registr-btn {
    border: none;
    border-radius: 3px;
    font-size:1rem;
    color: #FFF;
    padding: 0.3rem 0.5rem;
    background-color: #aaa8a7;
    border-bottom: 3px solid #9b9998;
}
.registr-btn:active {
	border: none;
    border-top: 3px solid #af9057;
}
.registr-btn:hover {
    opacity: 0.8;
}

/* 削除ボタン */
.delete-btn {
    display: block;
    margin: 1rem auto;
    width: 50px;
	border: none;
    padding: 0.3rem 0.5rem;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size:1rem;
    color: #FFF;
    background-color: #e9121280;
    border-bottom: 3px solid #a1050580;
}
.delete-btn:active {
	border: none;
    border-top: 3px solid #a1050580;
}
.delete-btn:hover {
    opacity: 0.8;
}

/* 変更ボタン */
.change-btn {
    display: block;
    margin: 1rem auto;
    width: 50px;
	border: none;
    padding: 0.3rem 0.5rem;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size:1rem;
    color: #FFF;
    background-color: #aaa8a7;
    border-bottom: 3px solid #9b9998;
}
.change-btn:active {
	border: none;
    border-top: 3px solid #af9057;
}
.change-btn:hover {
    opacity: 0.8;
}




