@charset "utf-8";

.form-wrapper {
    max-width:400px;
    margin: 10px auto;
    padding-left: 30px;
    text-align: left;
}
@media only screen and (min-width: 768px) {
    .form-wrapper {
        max-width: 814px;
    }
}
.form-wrapper input[type="submit"] {
    margin-right: 10px;
}




table.scrolltable {
    width:400px;
    border-collapse: collapse;
    border:1px solid #666666;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    table.scrolltable{
        width: 814px;  /* ←14pxはスクロールバーの分 */
    }
}
.scrolltable thead {
    display:block;
    margin: 10px 10px 0 10px;
}
.scrolltable tbody {
    display:block;
    margin: 0 10px 10px 10px;
    overflow-y: scroll;
	max-height:200px;
}
@media only screen and (min-width:768px) {
    .scrolltable tbody {
        max-height: 300px;
    }
}

.scrolltable tbody tr:nth-child(even) {
    background-color: #d6edf7;
}

.scrolltable th {
    border: 1px solid #666666;
    white-space: nowrap;
}
.scrolltable td {
    border: 1px solid #666666;
    word-wrap: break-word;
}
th.scrollbar, td.scrollbar {
    display: none;
}
@media only screen and (min-width: 768px){
    th.scrollbar {
        border: none;
    }
}
th.scrollname, td.scrollname {
    min-width: 100px;
    max-width: 100px;
}
th.scrollwriter, td.scrollwriter {
    min-width: 80px;
    max-width: 80px;
}
th.scrollpubyear, td.scrollpubyear {
    min-width: 50px;
    max-width: 50px;
}
th.scrollpubhouse, td.scrollpubhouse {
    min-width: 65px;
    max-width: 65px;
}
th.scrolltotal, td.scrolltotal {
    min-width: 40px;
    max-width: 40px;
}
th.scrollstatus, td.scrollstatus {
    min-width: 40px;
    max-width: 40px;
}
@media only screen and (min-width: 768px){
    th.scrollname, td.scrollname {
        min-width: 300px;
        max-width: 300px;
    }
    th.scrollwriter, td.scrollwriter {
        min-width: 200px;
        max-width: 200px;
    }
    th.scrollpubhouse, td.scrollpubhouse {
        min-width: 130px;
        max-width: 130px;
    }
}





.apl-list-table-wrapper {
    border:1px solid #666666;
    padding: 5px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
    .apl-list-table-wrapper {
        width: 800px;
    }
}


.apl-list-table {
    width:400px;
    border-collapse: collapse;
    border:1px solid #666666;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .apl-list-table {
        width: 800px;
    }
}

.apl-table-tbody {
	max-height:200px;
}
@media only screen and (min-width:768px) {
    .apl-table-tbody {
        max-height: 300px;
    }
}

.apl-table-tr:nth-child(even) {
    background-color: #d6edf7;
}

.apl-list-table th {
    border: 1px solid #666666;
    white-space: nowrap;
    padding: 5px;
    font-size: 1.1rem;
}

.apl-list-table td {
    border: 1px solid #666666;
    word-wrap: break-word;
    padding: 5px;
}


.apl-th-book-name, .apl-td-book-name {
    width: 150px;
}
@media only screen and (min-width: 768px) {
    .apl-th-book-name, .apl-td-book-name {
        width: 300px;
    }
}

.apl-th-writer-name, .apl-td-writer-name {
    width: 75px;
}
@media only screen and (min-width: 768px) {
    .apl-th-writer-name, .apl-td-writer-name {
        width: 150px;
    }
}

.apl-th-publi-year, .apl-td-publi-year {
    width: 40px;
    text-align: center;
}

.apl-th-publisher, .apl-td-publisher {
    width: 75px;
}
@media only screen and (min-width: 768px) {
    .apl-th-publisher, .apl-td-publisher {
        width: 150px;
    }
}

.apl-th-book-status, .apl-td-book-status {
    width: 50px;
}
@media only screen and (min-width: 768px) {
    .apl-th-book-status, .apl-td-book-status {
        width: 100px;
    }
}

.apl-td-select {
    background: #efefef;
    width: 100%;
    font-size: 0.8em;
}
@media only screen and (min-width: 768px) {
    .apl-td-select {
        font-size: 1rem;
    }
}