@charset "utf-8";

table {
    background-color: #f0ffff;
    border:1px solid #666666;
    max-width: 300px;
    margin: 0 auto;
	table-layout:fixed;
    overflow-x: auto;
    border-collapse: collapse;
}
@media only screen and (min-width:768px) {
    table {
        max-width: 500px;
    }
}
th {
    padding: 5px;
	font-size: 100%;
	border-style: none;
	white-space: nowrap;
	letter-spacing: 1px;
    text-align: right;
}
th::after{
    content: "：";
}
td {
    padding-right: 5px;
    font-size: 100%;
	border-style: none;
    letter-spacing: 1px;
}
tbody tr:nth-child(even) {
    background-color: #d6edf7;
}

.lending-button-container {
    max-width: 300px;
    margin: 1rem auto;
    text-align: center;
}
@media only screen and (min-width:768px) {
    .lending-button-container {
        max-width: 500px;
    }
}
.lending-button {
	border: none;
    padding: 0.3rem 0.5rem;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size:1rem;
    color: #FFF;
    background-color: #aaa8a7;
    border-bottom: 3px solid #9b9998;
}
.lending-button:active {
	border: none;
    border-top: 3px solid #af9057;
}


