@charset "utf-8";

.main-wrapper {
    margin: 40px 0;
}

.login-box {
    max-width: 300px;
    padding: 1rem;
    margin: 0.5rem auto;
    background-color:#ffffff;
    border-radius: 5px;
}

.login-box input{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.3rem 0.5rem;
    border: 1px solid #CCC;
    border-top-width: 2px;
    border-radius: 3px;
    font-size: 1rem;
}
.login-box input:focus{
    box-shadow: 0px 5px 10px 0px #c9b8b8;
    background-color: #FFF0F0;
    border:solid 1px #7f5d38;
}
.login-box input:hover{
    border:solid 1px #949191;
}

.login-btn {
    text-align: right;
}
.login-btn button {
    border: none;
    border-radius: 3px;
    font-size:1rem;
    color: #FFF;
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: #aaa8a7;
    border-bottom: 3px solid #9b9998;
}
.login-btn button:hover {
    opacity: 0.8;
}
.login-btn button:active{
    border: none;
    border-top: 3px solid #9b9998;
}

