/*
 ******************************
   tableの設定	一覧表示
 ******************************
 */
table {
	/*table-layout:fixed;*/
	/*width:1000px;*/
	border:1px solid #666666;
}

th {
	border:1px solid #666666;
	/*background-color:#87cefa;*/
}

td {
	border:1px solid #666666;
}

td.center {
	text-align:center;
}

/*
 ******************************
   tableの設定	単独表示
 ******************************
 */


/*
 ******************************
   スクロール用テーブルの設定
 ******************************
 */
table.scrolltable {
	table-layout:fixed;
	width:1014px;		/* ←14pxはスクロールバーの分 */
	border:1px solid #666666;
}

.scrolltable thead {
	display:block;
}

.scrolltable tbody {
	display:block;
	overflow-y:scroll;
	height:150px;
}

th.scrollname, td.scrollname {
	width:500px;
}

th.scrollwriter, td.scrollwriter {
	width:180px;
}

th.scrollpubyear, td.scrollpubyear {
	width:90px;
}

th.scrollpubhouse, td.scrollpubhouse {
	width:140px;
}

th.scrolltotal, td.scrolltotal {
	width:90px;
}

th.scrollbar {
	width:14px;
}


