/**
 * システム共通のCSS
 */
 html,body{
 	font-family: 'M PLUS Rounded 1c', sans-serif;
	height:100%;
	width:100%;
	margin: 0 auto;
	overflow:hidden;
	display: flex;
    justify-content: center;
    align-items: center;
 	}


.main{
	width: 100%;
	height:100%;
    border: 1px solid #70b062;
    position: relative;
}


/**
 * ヘッダ部のスタイル(タイトルの箇所)
 */
.header{
	background-color: #70b062;
	color:#fff;
	overflow: hidden;
}

/**
 * ログアウトボタン
 */
.logout-button {
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-weight: bold;
    border: solid 2px #fff;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: right;
    margin: 5px 20px 0px 0px;

}
.logout-button:hover{
	border: solid 2px #ffff00;
	color: #ffff00;
}

.keyword{
	color:#BFBFBF;
	cursor: pointer;
}
.keyword:hover{
	color: #ff0000;
}


td.bookName{
	width:100px;
	word-wrap: break-word;
}


.dialog-box{
	color:#2c9e3f;
	background-color: #fff;
	width: 530px;
	height:570px;
    border-radius: 6px;
    padding-left:50px;
    border: 1px solid #70b062;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
    position:fixed;
    z-index: 2;
    top: 25px;
   left: 50%;
   margin-left: -265px;
}

.dialog-box-back{
	position:fixed;
	background: rgba(0,0,0,0.7);
	top:0px;
    left:0px;
	width:10000px;
	height:10000px;
	z-index: 1;
}

.dialog-box-close{
	position:relative;
	color:#555;
	top:10px;
    left:500px;
    cursor: pointer;
}
.dialog-box-close:hover{
	color: #ff0000;
}


/**
 * ログインボタン
 */
.button-login {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1.17em;
    font-weight: bold;
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 60px;
    margin-top:10px;
}


/**
 * 登録、更新のフォント
 */
.dialog-label{
    font-size: 1.1em;
    font-weight: bold;
    color:#555;
}

/**
 * アカウント、パスワードのinput
 */
.dialog-text{
	width:470px;
	color:#000;
}





/**
 * 各ボタンのスタイル
 */
.button-success,
.button-error,
.button-warning,
.button-regist,
.button-secondary {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: bold;
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-regist {
    background: rgb(48, 185, 77); /* this is a light blue */
}

