/**
 * ログイン画面の全体のスタイル
 */
html,body{
	background-color: #70B062;
	}

/**
 * アカウント、パスワードのテキスト
 */
.account,.password{
    font-size: 1.17em;
    font-weight: bold;
}

/**
 * アカウント、パスワードのinput
 */
input[type=text],input[type=password]{
	width:470px;
	color:#000;
}

/**
 * ログインボタン
 */
.button-login {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1.17em;
    font-weight: bold;
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 60px;
    margin-top:10px;
}

/**
 * ログインボックス(外枠)
 */
.login-box{
	color:#2c9e3f;
	margin-top:-100px;
	background-color: #fff;
	width: 530px;
	height:350px;
    border-radius: 6px;
    padding-left:50px;
    border: 1px solid #70b062;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
    position: relative;
}



