/*
 ******************************
   tableの設定	一覧表示
 ******************************
 */
 html,body{font-family: 'M PLUS Rounded 1c', sans-serif;}


/**
 * ヘッダ部のスタイル(タイトルの箇所)
 */
.header{
	background-color: #70b062;
	color:#fff;
	overflow: hidden;
}

/**
 * ログアウトボタン
 */
.logout-button {
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-weight: bold;
    border: solid 2px #fff;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: right;
    margin: 5px 20px 0px 0px;

}
.logout-button:hover{
	border: solid 2px #ffff00;
	color: #ffff00;
}



.keyword{
	color:#BFBFBF;
	cursor: pointer;
}
.keyword:hover{
	color: #ff0000;
}


td.bookName{
	width:100px;
	word-wrap: break-word;
}