<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script src="/js/repository.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/adminTop.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
	<link href="/css/tab.css" rel="stylesheet" />
	<link href="/css/common.css" rel="stylesheet" />
	<title>書籍管理システム</title>
</head>
<body>
<div id="app" class="main">

	<div class="header">
		<div style="font-size:2em; padding-left:25px; float: left;">書籍管理システム</div>
		<div v-on:click="onLogout" class="logout-button"><i class="fa fa-sign-out"></i> ログアウト</div>
	</div>


	<div class="cp_tab">
		<input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" checked>
		<label for="tab1_1">申請一覧</label>
		<input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01">
		<label for="tab1_2">書籍一覧</label>
		<input type="radio" name="cp_tab" id="tab1_3" aria-controls="auth_tab01">
		<label for="tab1_3">権限設定</label>


		<div class="cp_tabpanels">
			<div id="first_tab01" class="cp_tabpanel">

				<div class="tabpanel">
					<h3 style="margin-bottom:0px;">申請されている書籍の一覧になります。</h3>
					<table class="pure-table pure-table-bordered" style="width:98%;">
						<tr style="background-color: #6bb6bb; color:#fff;">
							<th>名称</th>
							<th>著者</th>
							<th>出版年</th>
							<th>出版社</th>
							<th>申請者</th>
							<th>状態</th>
						</tr>
						<tr v-for="item in bookRequestList">
							<td style="width:30%; word-break: break-sall;">{{item.bookName}}</td>
							<td style="width:20%; word-break: break-all;">{{item.author}}</td>
							<td style="width:11%; word-break: break-all;">{{item.publicationYear}}</td>
							<td style="width:15%; word-break: break-all;">{{item.publicationCompany}}</td>
							<td style="width:15%; word-break: break-all;">{{item.user}}</td>
							<td style="width:9%; word-break: break-all;" class="pure-form">
								<select v-model="item.status" style="width:100px; color:#000; font-size:14px; height:35px;">
								  <option v-for="status in statusList">{{status}}</option>
								</select>
							</td>
						</tr>
					</table>
				</div>

			</div>

			<div id="second_tab01" class="cp_tabpanel">
					<div style="width:100%; margin: 10px 0px 30px 0px; position:relative;">
						<div style="float: left;"><h3 style="margin-bottom:0px;">管理している書籍の一覧になります。</h3></div>
						<div style="float: right;" class="pure-form">
							<i class="fa fa-times-circle keyword" style="position:relative; top:5px; left:25px;" v-on:click="onKeywordClear"></i>
							<input type="text" style="margin-top:3px; width:300px; padding-left:25px;" v-model="keyword" placeholder="書籍の名称で絞込む">
							<button style="margin: 3px 20px 0px 20px;" v-on:click="onOpenDialog()" class="pure-button button-regist">書籍を追加する</button>
						</div>
					</div>

					<div class="tabpanel">
					<table class="pure-table pure-table-bordered" style="width:100%;">
						<tr style="background-color: #6bb6bb; color:#fff;">
							<th>名称</th>
							<th>著者</th>
							<th>出版年</th>
							<th>出版社</th>
							<th>冊数</th>
							<th>状態</th>
						</tr>
						<tr v-for="item in bookListFilter">
							<td style="width:30%; word-break: break-all;"><a href="#" v-on:click="onOpenDialog(item.id)">{{item.name}}</a></td>
							<td style="width:20%; word-break: break-all;">{{item.writer}}</td>
							<td style="width:11%; word-break: break-all;">{{item.publishingYear}}</td>
							<td style="width:15%; word-break: break-all;">{{item.publishingHouse}}</td>
							<td style="width:5%; word-break: break-all;">{{item.allBookCount}}</td>
							<td style="width:9%; word-break: break-all;">{{item.status | statusName}}</td>
						</tr>
					</table>
					</div>
			</div>

			<div id="auth_tab01" class="cp_tabpanel">
				<div class="tabpanel">
				権限設定
				</div>
			</div>
		</div>
	</div>


	<div class="pure-form dialog-box" v-show="isDialog">
	    <span class="dialog-box-close"><i class="fa fa-times" v-on:click="onDialogClose"></i></span>
		<h2 style="position:relative; top:-10px; height: 20px;"><i class="fa fa-book"></i><span style="margin-left:10px;">{{dialogTitle}}</span></h2>
		<div class=dialog-label>名称</div>
		<input type="text" class="dialog-text" v-model="book.name " />
		<div class="dialog-label">著者</div>
		<input type="text" class="dialog-text" v-model="book.writer " />
		<div class="dialog-label">出版年</div>
		<input type="date" class="dialog-text" v-model="book.publishingYear" />
		<div class="dialog-label">出版社</div>
		<input type="text" class="dialog-text" v-model="book.publishingHouse" />
		<div class="dialog-label">冊数</div>


		<select v-model="book.allBookCount" style="width:70px; color:#000; font-size:14px; height:35px;">
		  <option>0</option>
		  <option v-for="n in 99">{{n}}</option>
		</select>


		<div class="dialog-label">コメント</div>
		<input type="text" class="dialog-text" v-model="book.comment" />
		<br>
		<button class="button-login pure-button button-secondary " v-on:click="onCreateBook">登　録</button>
	</div>
    <div class="dialog-box-back" v-show="isDialog"></div>

</div>

</body>
</html>