<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/sample.css" th:href="@{/css/sample.css}" rel="stylesheet" />
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<title></title>
</head>
<body>
	<div class="header">
		<span style="font-size:2em">書籍管理システム</span>
		<input type="button" name="logout" value="ログアウト">
	</div>
	<div class="main">
		<p th:if="${submit}" style="background-color:#FF4F50">[[${submitMessage}]]</p>
		<h2>申請一覧</h2>
		<table>
			<tr>
				<th>名称</th>
				<th>著者</th>
				<th>出版年</th>
				<th>出版社</th>
				<th>申請者</th>
				<th>状態</th>
			</tr>
			<tr th:each="element, status : ${approveForm.approveList}">
				<td>
					<input type="text" th:name="approveList[__${status.index}__].name"
							readonly="readonly" th:value="${element.name}" style="width:97%" />
				</td>
				<td>
					<input type="text" th:name="approveList[__${status.index}__].writer"
							readonly="readonly" th:value="${element.writer}" style="width:97%" />
				</td>
				<td>
					<input type="text" th:name="approveList[__${status.index}__].publishingYear"
							readonly="readonly" th:value="${element.publishingYear}" style="width:97%" />
				</td>
				<td>
					<input type="text" th:name="approveList[__${status.index}__].publishingHouse"
							readonly="readonly" th:value="${element.publishingHouse}" style="width:97%" />
				</td>
				<td>
					<input type="text" th:name="approveList[__${status.index}__].applicant"
							readonly="readonly" th:value="${element.applicant}" style="width:97%" />
				</td>
				<td></td>
			</tr>
			<!-- ↓↓ダミーデータ -->
			<tr th:remove="all">
				<td>
					<input type="text" name="approveList[0].name"
							readonly="readonly" value="Javaの本" style="width:97%" />
				</td>
				<td>
					<input type="text" name="approveList[0].writer"
							readonly="readonly" value="新宿　太郎" style="width:97%" />
				</td>
				<td>
					<input type="text" name="approveList[0].publishingYear"
							readonly="readonly" value="2018" style="width:97%" />
				</td>
				<td>
					<input type="text" name="approveList[0].publishingHouse"
							readonly="readonly" value="ほげほげ社" style="width:97%" />
				</td>
				<td>
					<input type="text" name="approveList[0].applicant"
							readonly="readonly" value="笹塚　花子" style="width:97%" />
				</td>
				<td><a href="">申請中</a></td>
			</tr>
			<!-- ↑↑ダミーデータ -->
		</table>
		<br>
		<h2>変更・削除</h2>
		<form method="post" action="registration">
			<input type="submit" name="registration" value="新規登録">
		</form>
		<br>
		<form action="/search" method="get">
			<p>検索したいキーワードを入力してください。</p>
			<input type="search" name="keyword" placeholder="キーワードを入力">
			<input type="submit" name="submit" value="検索">
		</form>
		<table class="scrolltable">
			<thead>
				<tr>
					<th class="scrollname">名称</th>
					<th class="scrollwriter">著者</th>
					<th class="scrollpubyear">出版年</th>
					<th class="scrollpubhouse">出版社</th>
					<th class="scrolltotal">冊数</th>
					<th class="scrollstatus">状態</th>
					<th class="scrollbar"></th>

				</tr>
			</thead>
			<tbody>
				<!-- ↓↓ダミーデータ -->
				<tr th:remove="all">
					<td class="scrollname"><a href="/alteration">Javaの本</a></td>
					<td class="scrollwriter">新宿　太郎</td>
					<td class="scrollpubyear">2018</td>
					<td class="scrollpubhouse">ほげほげ社</td>
					<td class="scrolltotal">2</td>
					<td class="scrollstatus">在庫あり</td>
				</tr>
				<tr th:remove="all">
					<td class="scrollname"><a href="/alteration">HTMLの本</a></td>
					<td class="scrollwriter">笹塚　花子</td>
					<td class="scrollpubyear">2017</td>
					<td class="scrollpubhouse">ふがふが社</td>
					<td class="scrolltotal">0</td>
					<td class="scrollstatus">在庫なし</td>
				</tr>
				<!-- ↑↑ダミーデータ -->
			</tbody>
		</table>
	</div>
	<div class ="footer"></div>
</body>
</html>


