﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/sample.css" th:href="@{/css/sample.css}" rel="stylesheet" />
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<title></title>
</head>
<body>
	<div class="header">
		<span style="font-size:2em">書籍管理システム</span>
		<input type="button" name="logout" value="ログアウト">
	</div>
	<div class="main">
		<p th:if="${isSubmit}" style="background-color:#FF4F50">[[${submitMessage}]]</p>
		<h2>変更削除詳細</h2>
		<form method="post" action="/alterate" th:object="${bookInfomationForm}"
				onsubmit="return submitCheck(message)">
			<table class="uniquetable">
				<tr>
					<th>名称</th>
					<td th:remove="all"><input type="text" name="name" value="Javaの本" size="49"></td>
				</tr>
				<tr>
					<th>著者</th>
					<td th:remove="all"><input type="text" name="writer" value="新宿　太郎" size="49"></td>
				</tr>
				<tr>
					<th>出版年</th>
					<td th:remove="all"><input type="text" name="publishingYear" value="2018" size="49"></td>
				</tr>
				<tr>
					<th>出版社</th>
					<td th:remove="all"><input type="text" name="publishingHouse" value="ほげほげ社" size="49"></td>
				</tr>
				<tr>
					<th>冊数</th>
					<td th:remove="all"><input type="text" name="total" value="2" size="49"></td>
				</tr>
				<tr>
					<th>コメント</th>
					<td th:remove="all">
						<input type="text" name="comment" value="Java初心者向けの本です。新人研修レベルの内容が網羅されています。" size="49">
					</td>
				</tr>
			</table>
			<br>
			<input type="submit" name="update" value="変更" class="updbuttun"
					onclick="message='書籍情報を変更します。よろしいですか。'">
			<br>
			<br>
			<input type="submit" name="delete" value="削除" class="delbuttun"
					onclick="message='書籍情報を削除します。よろしいですか。'">
		</form>
	</div>
	<div class ="footer"></div>
</body>
</html>


