<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/sample.css" th:href="@{/css/sample.css}" rel="stylesheet" />
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<title></title>
</head>
<body>
	<div class="header">
		<span style="font-size:2em">書籍管理システム</span>
		<input type="button" name="logout" value="ログアウト">
	</div>
	<div class="main">
		<p th:if="${lendSubmit}" style="background-color:#FF4F50">貸出が完了しました</p>
		<h2>貸出</h2>
		<form method="get" action="/serch">
			<p>検索したいキーワードを入力してください。</p>
			<input type="search" name="keyword" placeholder="キーワードを入力">
			<input type="submit" name="submit" value="検索">
		</form>
		<table class="scrolltable">
			<thead>
				<tr>
					<th class="scrollname">名称</th>
					<th class="scrollwriter">著者</th>
					<th class="scrollpubyear">出版年</th>
					<th class="scrollpubhouse">出版社</th>
					<th class="scrolltotal">冊数</th>
					<th class="scrollstatus">状態</th>
					<th class="scrollbar"></th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="element : ${lendingList}">
					<td class="scrollname">
						<a href="/lending/detail" th:href="@{/lending/detail(test=${element.name})}"
								th:text="${element.name}"></a>
					</td>
					<td class="scrollwriter" th:text="${element.writer}"></td>
					<td class="scrollpubyear" th:text="${element.publishingYear}"></td>
					<td class="scrollpubhouse" th:text="${element.publishingHouse}"></td>
					<td class="scrolltotal" th:text="${element.total}"></td>
					<td class="scrollstatus" th:text="${element.status}"></td>
				</tr>
				<!-- ↓↓ダミーデータ -->
				<tr th:remove="all">
					<td class="scrollname"><a href="">Javaの本</a></td>
					<td class="scrollwriter">新宿　太郎</td>
					<td class="scrollpubyear">2018</td>
					<td class="scrollpubhouse">ほげほげ社</td>
					<td class="scrolltotal">2</td>
					<td class="scrollstatus">在庫あり</td>
				</tr>
				<tr th:remove="all">
					<td class="scrollname"><a href="">HTMLの本</a></td>
					<td class="scrollwriter">笹塚　花子</td>
					<td class="scrollpubyear">2017</td>
					<td class="scrollpubhouse">ふがふが社</td>
					<td class="scrolltotal">0</td>
					<td class="scrollstatus">在庫なし</td>
				</tr>
				<tr th:remove="all">
					<td class="scrollname"><a href="">C#の本</a></td>
					<td class="scrollwriter">桜　次郎</td>
					<td class="scrollpubyear">2016</td>
					<td class="scrollpubhouse">ほげほげ社</td>
					<td class="scrolltotal">1</td>
					<td class="scrollstatus">在庫あり</td>
				</tr>
				<tr th:remove="all">
					<td class="scrollname"><a href="">JavaScriptの本</a></td>
					<td class="scrollwriter">千歳　裕子</td>
					<td class="scrollpubyear">2015</td>
					<td class="scrollpubhouse">ふがふが社</td>
					<td class="scrolltotal">0</td>
					<td class="scrollstatus">在庫なし</td>
				</tr>
				<tr th:remove="all">
					<td class="scrollname"><a href="">PHPの本</a></td>
					<td class="scrollwriter">調布　三郎</td>
					<td class="scrollpubyear">2014</td>
					<td class="scrollpubhouse">ほげほげ社</td>
					<td class="scrolltotal">2</td>
					<td class="scrollstatus">在庫あり</td>
				</tr>
				<!-- ↑↑ダミーデータ -->
			</tbody>
		</table>
		<br>
		<h2>返却対象一覧</h2>
		<form method="post" action="/return" th:object="${returnForm}"
				onsubmit="return submitCheck(message)">
			<table>
				<tr>
					<th>名称</th>
					<th>著者</th>
					<th>出版年</th>
					<th>出版社</th>
					<th style="width:70px"></th>
				</tr>
				<tr th:each="element : ${returnList}">
					<td th:text="${element.name}"></td>
					<td th:text="${element.writer}"></td>
					<td th:text="${element.publishingYear}"></td>
					<td th:text="${element.publishingHouse}"></td>
					<td class="center">
						<input type="submit" name="submit" value="返却"
								th:onclick="'message=\'__${element.name}__を返却しますか？\''"/>
					</td>
				</tr>
				<!-- ↓↓ダミーデータ -->
				<tr>
					<td>基本情報技術者試験の教科書</td>
					<td>稲田　史郎</td>
					<td>2018</td>
					<td>ぺふ社</td>
					<td class="center">
						<input type="submit" name="submit" value="返却"
								onclick="message='基本情報技術者試験の教科書を返却しますか？'" />
					</td>
				</tr>
				<!-- ↑↑ダミーデータ -->
			</table>
		</form>
		<br>
		<h2>申請中一覧</h2>
		<form method="post" action="/cancel" th:object="${cancelForm}"
				onsubmit="return submitCheck(message)">
			<table>
				<tr>
					<th>名称</th>
					<th>著者</th>
					<th>出版年</th>
					<th>出版社</th>
					<th style="width:70px"></th>
				</tr>
					<tr th:each="element : ${applyingList}">
					<td th:text="${element.name}"></td>
					<td th:text="${element.writer}"></td>
					<td th:text="${element.publishingYear}"></td>
					<td th:text="${element.publishingHouse}"></td>
					<td class="center">
						<input type="submit" name="submit" value="取消"
								th:onclick="'message=\'__${element.name}__の申請を取り消しますか？\''"/>
					</td>
				</tr>
				<!-- ↓↓ダミーデータ -->
				<tr>
					<td>JavaBronzeの教科書</td>
					<td>永山　松子</td>
					<td>2017</td>
					<td>ぬるぽ社</td>
					<td class="center">
						<input type="submit" name="submit" value="取消"
								onclick="message='JavaBronzeの教科書の申請を取り消しますか'"/>
					</td>
				</tr>
				<!-- ↑↑ダミーデータ -->
			</table>
		</form>
	</div>
	<div class ="footer"></div>
</body>
</html>


