<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/sample.css" th:href="@{/css/sample.css}" rel="stylesheet" />
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<title></title>
</head>
<body>
	<div class="header">
		<span style="font-size:2em">書籍管理システム</span>
		<input type="button" name="logout" value="ログアウト">
	</div>
	<div class="main">
		<p th:if="${outOfStock}" style="background-color:#FF4F50">在庫無しのため貸出できません</p>
		<h2>貸出詳細</h2>
		<table class="uniquetable">
			<tr>
				<th>名称</th>
				<td th:remove="all">Javaの本</td>
			</tr>
			<tr>
				<th>著者</th>
				<td th:remove="all">新宿　太郎</td>
			</tr>
			<tr>
				<th>出版年</th>
				<td th:remove="all">2018</td>
			</tr>
			<tr>
				<th>出版社</th>
				<td th:remove="all">ほげほげ社</td>
			</tr>
			<tr>
				<th>コメント</th>
				<td th:remove="all">Java初心者向けの本です。新人研修レベルの内容が網羅されています。</td>
			</tr>
			<tr>
				<th>冊数</th>
				<td th:remove="all">2</td>
			</tr>
			<tr>
				<th>貸出情報</th>
				<td th:remove="all">社員番号111</td>
			</tr>
		</table>
		<br>
		<!-- 在庫なしの場合はボタン非表示 -->
		<form th:if="${!outOfStock}" method="post" action="/lend"
				onsubmit="return submitCheck('貸出申請をします。よろしいですか')">
			<input type="submit" name="submit" value="貸出申請">
		</form>
	</div>
	<div class ="footer"></div>
</body>
</html>


