<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/sample.css" th:href="@{/css/sample.css}" rel="stylesheet" />
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<title></title>
</head>
<body>
	<div class="header"></div>
	<div class="main">
		<h1>書籍管理システム</h1>
		<h2>マイページ</h2>
		<form method="post" action="/">
			ユーザ名　：<input type="text" name="name" />
			<br>
			パスワード：<input type="password" name="password" />
			<br>
			<input type="submit" value="ログイン" />
		</form>
	</div>
	<div class ="footer"></div>
</body>
</html>
