﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/sample.css" th:href="@{/css/sample.css}" rel="stylesheet" />
	<script src="../static/js/sample.js" th:src="@{/js/sample.js}"></script>
	<title></title>
</head>
<body>
	<div class="header">
		<span style="font-size:2em">書籍管理システム</span>
		<input type="button" name="logout" value="ログアウト">
	</div>
	<div class="main">
		<h2>新規登録</h2>
		<form method="post" action="/register" th:object="${bookInfomationForm}"
				onsubmit="return submitCheck('新規登録します。よろしいですか')">
			<table class="uniquetable">
				<tr>
					<th>名称</th>
					<td><input type="text" name="name" size="49"></td>
				</tr>
				<tr>
					<th>著者</th>
					<td><input type="text" name="writer" size="49"></td>
				</tr>
				<tr>
					<th>出版年</th>
					<td><input type="text" name="publishingYear" size="49"></td>
				</tr>
				<tr>
					<th>出版社</th>
					<td><input type="text" name="publishingHouse" size="49"></td>
				</tr>
				<tr>
					<th>冊数</th>
					<td><input type="text" name="total" size="49"></td>
				</tr>
				<tr>
					<th>コメント</th>
					<td><input type="text" name="comment" size="49"></td>
				</tr>
			</table>
			<br>
			<input type="submit" name="submit" value="新規登録" >
		</form>
	</div>
	<div class ="footer"></div>
</body>
</html>


